<!DOCTYPE html>
<html lang="en">
<head>
  <style>
  .page-header {
    height: 80px; /* Adjust the height as needed */
  }
</style>
</head>
<body>
  <div class="page-header">
    <div class="header-wrapper row m-0">
      <div class="nav-right col-xxl-7 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto">
        <ul class="nav-menus">
          <li class="profile-nav onhover-dropdown pe-0 py-0">
            <div class="media profile-media">
              <div class="rounded-circle avatar bg-primary text-white d-flex align-items-center justify-content-center" style="width: 40px; height: 40px;">
                <span style="font-size: 18px;">
                  
                <% const initials = username.split(' ').map(part => part.charAt(0).toUpperCase()).join(''); %>
                <%= initials %>
                </span>
              </div>
              <div class="media-body">
                <p> <%= mobile_number %> <br><br><%= username %> </p>                            
              </div>
            </div>
            <ul class="profile-dropdown onhover-show-div">
              <li><a href="/profile"><i data-feather="user"></i><span>Profile </span></a></li>
              <li><a href="#"><i data-feather="settings"></i><span>Settings</span></a></li>
              <li><a href="/logout"><i data-feather="log-in"> </i><span>Log Out</span></a></li>
            </ul>
          </li>
        </ul>
      </div>    
    </div>
  </div>
</body>
</html>





